{{ $tabID := $.Get "tabID" }}
<nav>
    <div class="nav nav-pills" id="nav-tab-{{ $tabID }}" role="tablist">

        {{ $tabTotal := .Get "tabTotal" }}
        {{ range $i, $sequence := (seq $tabTotal) }}
        
        {{ $tabName := (print "tabName" $sequence) }}
        {{ $tabHREF := (print "tab" $tabID $sequence) }}

        {{ if eq $sequence 1 }}

        <a class="nav-item nav-link active" id="nav-1" data-toggle="tab" href="#{{ $tabHREF | urlize }}" role="tab"
           aria-controls="nav-home" aria-selected="true">{{ $.Get $tabName }}</a>

        {{ else }}

        <a class="nav-item nav-link" id="nav-{{ $i }}" data-toggle="tab" href="#{{ $tabHREF | urlize }}" role="tab"
           aria-controls="nav-home" aria-selected="false">{{ $.Get $tabName }}</a>

        {{ end }}
        {{ end }}

    </div>
</nav>

<div class="tab-content" id="{{ $.Get "tabID" }}">

{{ .Inner }}

</div>